<div class='container'>
<div class="col-md-4">
<div id='purchaseBox'><h2><u style='color: white;'>Purchases</u></h2>
  <div ng-repeat='item in vm.all'>
    <div ng-if='(item.month === vm.month && item.category === vm.category) || (item.month === vm.month && vm.category === "all")'>
      <h3 class='purch'>
        Store:  {{item.store}}<br><br>
        Amount:  {{item.amount}} dollars<br><br>
        Month:  {{item.month}}<br><br>
        Category:  {{item.category}}<br><br>
        <br>
      </h3>
        <button ng-click='vm.deletePurchase(item)' class='btn btn-danger'>Delete</button>
    </div>
  </div>
</div>

<div class='budgetBox'>
  <h3>Total Amount Spent This Year:  ${{vm.total}}</h3>
  <h3>Monthly Budget:  ${{vm.budget}}</h3>
  <div ng-if='vm.month === "january"'>
    <h3>Spent in January:  ${{vm.jan.spent}}</h3>
    <h3>household:  {{vm.catTotals[0].household}}</h3>

  </div>
  <h3 ng-if='vm.month === "february"'>Spent in February:  ${{vm.feb.spent}}</h3>
  <h3 ng-if='vm.month === "march"'>Spent in March:  ${{vm.mar.spent}}</h3>
  <h3 ng-if='vm.month === "april"'>Spent in April:  ${{vm.apr.spent}}</h3>
  <h3 ng-if='vm.month === "may"'>Spent in May:  ${{vm.may.spent}}</h3>
  <h3 ng-if='vm.month === "june"'>Spent in June:  ${{vm.jun.spent}}</h3>
  <h3 ng-if='vm.month === "july"'>Spent in July:  ${{vm.jul.spent}}</h3>
  <h3 ng-if='vm.month === "august"'>Spent in August:  ${{vm.aug.spent}}</h3>
  <h3 ng-if='vm.month === "september"'>Spent in September:  ${{vm.sep.spent}}</h3>
  <h3 ng-if='vm.month === "october"'>Spent in October:  ${{vm.oct.spent}}</h3>
  <h3 ng-if='vm.month === "november"'>Spent in November:  ${{vm.nov.spent}}</h3>
  <h3 ng-if='vm.month === "december"'>Spent in December:  ${{vm.dec.spent}}</h3>
  <h3 ng-if='vm.category === household'>Spent on Household:  ${{vm.catTotals[0].household}}</h3>
</div>

</div>

<div class='col-md-4'>
<h2>2016</h2>

<label for='Month'>Select Month</label>
  <select name="Month" ng-model='vm.month'>
    <option value="january">January</option>
    <option value="february">February</option>
    <option value="march">March</option>
    <option value="april">April</option>
    <option value='may'>May</option>
    <option value='june'>June</option>
    <option value='july'>July</option>
    <option value='august'>August</option>
    <option value='september'>September</option>
    <option value='october'>October</option>
    <option value='november'>November</option>
    <option value='december'>December</option>
  </select><br>

<label for='category'>Filter by category</label>
  <select name='category' ng-model='vm.category'>
   <option value='all'>All</option>
   <option value='household'>Household</option>
   <option value='car'>Car</option>
   <option value='personal'>Personal</option>
   <option value='loans'>Loans</option>
   <option value='rent/util'>Rent/Util</option>
   <option value='food'>Food</option>
   <option value='medical'>Medical</option>
   <option value='misc'>Miscellaneous</option>
  </select><br><br>

<!-- <label for='monthlyBudget'>Monthly Budget: </label>
<input type='number' ng-model='vm.budget' name='monthlyBudget'><button class='btn btn-success'>Set</button><br><br> -->
<button ng-click='vm.showForm()' class='btn btn-primary'>Add New Entry</button><br><br>

<form name="newForm" ng-if='vm.count % 2 === 0' ng-submit='vm.addPurchase()'>New Entry
  <div class='form-group'>
    <input type='text' name='store' placeholder='place of purchase' ng-model='vm.newPurchase.store' required>
  </div>
  <div class='form-group'>
    <input type='number' name='amount' placeholder='amount in dollars' ng-model='vm.newPurchase.amount' ng-pattern='/[1-9]\d*/'required>
  </div>
  <div class='form-group'>
    <select name='month' ng-model='vm.newPurchase.month' placeholder='Month' required>
      <option value='' disabled selected>Month</option>
      <option value='january'>January</option>
      <option value='february'>February</option>
      <option value='march'>March</option>
      <option value='april'>April</option>
      <option value='may'>May</option>
      <option value='june'>June</option>
      <option value='july'>July</option>
      <option value='august'>August</option>
      <option value='september'>September</option>
      <option value='october'>October</option>
      <option value='november'>November</option>
      <option value='december'>December</option>
      </select>
  </div>
  <div class='form-group'>
  <select name="category" ng-model='vm.newPurchase.category' placeholder='Category' required>
      <option value='' disabled selected>Category</option>
      <option value='household'>Household</option>
      <option value='car'>Car</option>
      <option value='personal'>Personal</option>
      <option value='loans'>Loans</option>
      <option value='rent/util'>Rent/Util</option>
      <option value='food'>Food</option>
      <option value='medical'>Medical</option>
      <option value='misc'>Miscellaneous</option>
  </select>
  </div>
  <div class='form-group'>
    <input type='submit' class='btn btn-success'></button>
  </div>
</form>
</div>
<div class='col-md-4'>

</div>
</div>



<!--   <div class="row" id='firstRow'>
    <div class="col-md-3">January</div>
    <div class="col-md-3">February</div>
    <div class="col-md-3">March</div>
    <div class="col-md-3">April</div>
  </div>
  <div class="row" id='secondRow'>
    <div class="col-md-3">May</div>
    <div class="col-md-3">June</div>
    <div class="col-md-3">July</div>
    <div class="col-md-3">August</div>
  </div>
  <div class="row" id='thirdRow'>
    <div class="col-md-3">September</div>
    <div class="col-md-3">October</div>
    <div class="col-md-3">November</div>
    <div class="col-md-3">December</div>
  </div>
</div> -->


<!-- form -->
