<div class='container'>
<div class="col-md-4">
<div id='purchaseBox' class='row'><h2><u style='color: white;'>Purchases</u></h2>
  <table class='table' >
    <tr>
      <td><i><u>Purchase</u></i></td>
      <td><i><u>Amount</u></i></td>
      <td><i><u>Date</u></i></td>
      <td><i><u>Category</u></i></td>
    </tr>
     <tr ng-repeat='item in vm.sorted' ng-if='item.category === vm.category || vm.category === "all"'>
      <td>{{item.store}}</td>
      <td>{{item.amount | currency}}</td>
      <td>{{item.date}}</td>
      <td>{{item.category}}</td>
      <td><button ng-click='vm.updateCategoryTotals(item)'>x</button></td>
     </tr></table><br>
  </div>
<br><br>



  <div id='budgetBox' class='row'>
  <h2><u>Summary</u></h2>
  <h3 ng-if='vm.budget > 0'>Monthly Budget:  {{vm.budget | currency}}</h3>
  <h3>Spent this month:  {{vm.month.total | currency}}</h3>
  <h3 ng-if='vm.catTotals[0].total > 0'>Spent in Household  {{vm.catTotals[0].total | currency}}</h3>
  <h3 ng-if='vm.catTotals[1].total > 0'>Spent on Car  {{vm.catTotals[1].total | currency}}</h3>
  <h3 ng-if='vm.catTotals[2].total > 0'>Spent in Personal  {{vm.catTotals[2].total | currency}}</h3>
  <h3 ng-if='vm.catTotals[3].total > 0'>Spent in Loans  {{vm.catTotals[3].total | currency}}</h3>
  <h3 ng-if='vm.catTotals[4].total > 0'>Spent in Rent/Util  {{vm.catTotals[4].total | currency}}</h3>
  <h3 ng-if='vm.catTotals[5].total > 0'>Spent in Food  {{vm.catTotals[5].total | currency}}</h3>
  <h3 ng-if='vm.catTotals[6].total > 0'>Spent in Medical  {{vm.catTotals[6].total | currency}}</h3>
  <h3 ng-if='vm.catTotals[7].total > 0'>Spent in Misc  {{vm.catTotals[7].total | currency}}</h3>
</div>
</div>


<div class='col-md-4'>
<h2>November 2016</h2>

<label for='category'>Filter by category</label>
  <select name='category' ng-model='vm.category'>
   <option value='all' selected="selected">All</option>
   <option value='household'>Household</option>
   <option value='car'>Car</option>
   <option value='personal'>Personal</option>
   <option value='loans'>Loans</option>
   <option value='rent/util'>Rent/Util</option>
   <option value='food'>Food</option>
   <option value='medical'>Medical</option>
   <option value='misc'>Miscellaneous</option>
  </select><br><br>

<!-- <label for='monthlyBudget'>Monthly Budget: </label>
<input type='number' ng-model='vm.budget' name='monthlyBudget'><button class='btn btn-success'>Set</button><br><br> -->
<button ng-click='vm.showForm()' class='btn btn-primary'>Add New Entry</button><br><br>

<form name="newForm" ng-if='vm.count % 2 === 0' ng-submit='vm.addPurchase()'>New Entry
  <div class='form-group'>
    <input type='text' name='store' placeholder='item or service name' ng-model='vm.newPurchase.store' required>
  </div>
  <div class='form-group'>
    <input type='number' name='amount' placeholder='amount in dollars' ng-model='vm.newPurchase.amount' ng-pattern='/[1-9]\d*/'required>
  </div>
  <div class='form-group'>
    <input type='text' name='date' placeholder='date' ng-model='vm.newPurchase.date'>
  </div>

  <div class='form-group'>
  <select name="category" ng-model='vm.newPurchase.category' placeholder='Category' required>
      <option value='' disabled selected>Category</option>
      <option value='household'>Household</option>
      <option value='car'>Car</option>
      <option value='personal'>Personal</option>
      <option value='loans'>Loans</option>
      <option value='rent/util'>Rent/Util</option>
      <option value='food'>Food</option>
      <option value='medical'>Medical</option>
      <option value='misc'>Miscellaneous</option>
  </select>
  </div>
  <div class='form-group'>
    <input type='submit' class='btn btn-success'></button>
  </div>
</form>
</div>

<div class='col-md-4'>
<div class='chart'></div>

<form ng-submit='vm.changeBudget()'>
<label>Enter your budget for this month</label>
<input type='number' ng-model='vm.budChange' name='budChange' placeholder='enter amount'>
<input type='submit'>
</form>



</div>
</div>
